.header{
    background-color: #1F2937;
    padding-bottom: 20px;

}
.flexContainer{
    text-align: left;
    display: flex;
}
.flexContainer.Hero{
    padding-top: 75px;
    padding-bottom: 75px;
}
.leftHeader{
    width: 50%;
    margin-left: 20%;
}
.rightHeader{
    width: 50%;
    margin-right: 20%;
}
ul{
    display: flex;
    margin-left: 10%;
}
li{
    padding: 5px;
}
img{
    display: block;
    margin-left: 10%;
    margin-right: auto;
}
.btn{
    background-color: #3882f6;
    border-radius: 25px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
}
h2{
    font-size: 24px;
    color: #F9FAF8
}
li{
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    padding-right: 20px;
}
h3{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-top: 0;
}
.secondayText{
    font-size: 18px;
    color: #e5e7eb;
}
.contentHeading{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}
.flexContainer.content{
    width: 80%;
    margin: auto;
}
.flexItem{
    text-align: center;
}
.imgContent{
    border-radius: 25px;
}
.section2{
    background-color: #e5e7eb;
    height: 50%;
}
.quote{
    margin: auto;
    width: 80%;
    padding: 50px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.register{
    position: relative;
    height: 200px;
}
.callToAction{
    border-radius: 25px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    margin: auto;
    background-color: #3882f6;
}
.flexItem.action{
    text-align: left;
    flex: 1;
}
.footer{
    color: #F9FAF8;
    background-color: #1F2937;
    height: 60px;
    width: 100%;
    position: absolute;
    text-align: center;
}
body {
    margin: 0;
 }
 .btn.bottom{
     border-style: solid;
     border-color: #F9FAF8;
     margin-right: 10%;
 }
 .flexItem.sign{
     font-weight: bold;
 }
 .leftText{
     text-align: left;
 }
 H4{
     margin-left: 5%;
     text-align: left;
     font-size: 24px;
     font-weight: bold;
     color: #F9FAF8;
     margin-bottom: 0;
     margin-top: 2%;
     margin-top: 0;
     padding-top: 10px;
 }
 .actionText{
     margin-left: 10%;
     text-align: left;
     font-size: 18px;
     color: #e5e7eb;
     margin-top: 0;
     padding-bottom: 10px;
 }
 .flexItem.action.right{
     text-align: right;
 }